:root{
  background-color: #131313;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
.App{
  border-color: #fff;
  border-style: solid;
  border-width: 1px 3px 3px 1px;
  border-radius: 20px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  padding: 10px 20px;
}
.App h1{
 font-size: 18px;
}

.App img{
  width: 70%;
  padding: 10px;
  border-radius: 30px;
}